a ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
}

@main-color: #3498DB;

h1,
h3 {
    color: dimgray;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    color: #3498DB;
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

.container {
    width: 1024px;
    margin: 0 auto;
    font-family: "Oswald", Helvetica, Arial, sans-serif;

    nav {
        width: 50%;
        background-color: #fff;
        font-size: 0.9rem;
        display: flex;
        text-align: center;
        letter-spacing: 2px;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        color: @main-color;
        padding: 2px;
        margin: 0% 1% 0% 1%;
    }
}

.navigation {
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 1% 0% 1% 0%;
}

nav ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: center;

    li {
        display: flex;
        padding: 0% 5% 0% 5%;
    }
}

.nav-links li a {
    text-decoration: none;
    color: #3498DB;
}

@media (max-width: 515px) {
    header nav {
        margin-left: 0;
    }
}

header nav a {
    margin-left: 20px;
    font-size: 1.8rem;
}

header nav .first-anchor {
    margin-left: 0;
}

.top-content {
    width: 95%;
    margin: 0 auto;
    background: lightblue;
    padding: 1%;
}

.top-content h1 {
    color: dimgray;
    /** font-family: "Merriweather", serif; **/
}

.cta-block {
    color: @main-color;
}

.btn-connect {
    background: white;
    border-radius: 12px;
}


.middle-content {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.bottom-content {
    width: 95%;
}

@media (max-width: 515px) {
    .middle-content {
        flex-direction: column;
    }
}

.table {
    width: 95%;
    background: dodgerblue;
}